<!DOCTYPE html>
<html lang="en" xmlns:th="https//www.thymeleaf.org">

<head th:replace="fragments/header::head"></head>

<body>
    <header th:replace="fragments/header::navbar"></header>
    <div class="container mb-5">
        <a th:href="@{/client/create}" class="btn btn-primary mb-2">Insert Client</a>
        <h1 class="display-4 text-center text-secondary mb-3" th:text="${title}"></h1>
        <table class="table table-striped" th:if="${!clients.isEmpty()}">
            <thead class="bg-primary text-white">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Profile</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="client:${clients}">
                    <td th:text="${client.id}"></td>
                    <td th:text="${client.firstName}"></td>
                    <td th:text="${client.lastName}"></td>
                    <td>
                        <a th:href="@{/client/profile/} + ${client.id}" class="btn btn-primary">
                            <i class="far fa-id-card"></i>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/client/edit/} + ${client.id}" class="btn btn-success">
                            <i class="fas fa-user-edit"></i>
                        </a>
                    </td>

                    <td>
                        <a th:href="@{/client/delete/} + ${client.id}" class="btn btn-danger" onclick="return confirm('Are you sure?')">
                            <i class="fas fa-user-minus"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3 class="text-center text-warning" th:if="${clients.isEmpty()}"> There is no clients registered! </h3>

    </div>
    <footer th:replace="fragments/footer::footer"></footer>
</body>

</html>