<!DOCTYPE html>
<html lang="en" xmlns:th="https//www.thymeleaf.org">

<head th:replace="fragments/header::head"></head>

<body>
    <header th:replace="fragments/header::navbar"></header>
    <div class="container mb-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <a th:href="@{/client/list}" class="btn btn-primary mb-2">Back to Clients list&nbsp;<i class="fas fa-users"></i></a>
            <a th:href="@{/client/edit/} + ${client.id}" class="btn btn-success mb-2">Edit <span th:text="${client.firstName}"></span>&nbsp;<i class="fas fa-user-edit"></i></a>
            <a th:href="@{/client/delete/} + ${client.id}" class="btn btn-danger mb-2" onclick="return confirm('Are you sure?')">Delete <span th:text="${client.firstName}"></span>&nbsp;<i class="fas fa-user-minus"></i></a>
        </div>

        <div class="row">
            <div class="col-12 col-md-8 mx-auto card">
                <div class="card-body">
                    <div class="card-title">
                        <h2 class="text-center text-secondary display-1" th:text="${title}"></h2>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4 text-center mb-2">
                            <img th:src="${client.photo}" th:alt="${client.firstName}" class="img-thumbnail rounded">
                        </div>
                        <div class="col-12 col-md-6 col-lg-8 mb-2">
                            <ul class="list-group">
                                <li class="list-group-item font-weight-bold">
                                    ID: <span class="font-weight-normal" th:text="${client.id}"></span>
                                </li>
                                <li class="list-group-item font-weight-bold">
                                    First Name: <span class="font-weight-normal" th:text="${client.firstName}"></span>
                                </li>
                                <li class="list-group-item font-weight-bold">
                                    Last Name: <span class="font-weight-normal" th:text="${client.lastName}"></span>
                                </li>
                                <li class="list-group-item font-weight-bold">
                                    email: <span class="font-weight-normal" th:text="${client.email}"></span>
                                </li>
                                <li class="list-group-item font-weight-bold">
                                    Creatin date: <span class="font-weight-normal" th:text="${client.createdAt}"></span>
                                </li>
                            </ul>
                        </div>
                    </div>

        

                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer::footer"></footer>
    <div th:replace="fragments/footer::scripts"></div>
</body>
</html>