<nav class="my-4" th:fragment="paginator">

    <ul class="pagination d-flex justify-content-center">

        <li th:class="${page.isFirst() ? 'page-item disabled' : 'page-item'}">
            <span class="page-link" th:if="${page.isFirst()}">First</span>
            <a class="page-link" th:if="${!page.isFirst()}" th:href="@{${page.getUrl()}(page=0)}">First</a>
        </li>

        <li th:class="${page.hasPrevious() ? 'page-item' : 'page-item disabled'}">
            <span class="page-link" th:if="${!page.hasPrevious()}">&#171;</span>
            <a class="page-link" th:if="${page.hasPrevious()}" th:href="@{${page.getUrl()}(page=${page.getCurrentPage() - 2})}">&#171;</a>
        </li>

        <li th:class="${item.isCurrent() ? 'page-item active' : 'page-item'}" th:each="item : ${page.pages}">
            <span class="page-link active" th:if="${item.isCurrent()}" th:text="${item.getNumber()}"></span>
            <a class="page-link" th:if="${!item.isCurrent()}"
                th:href="@{${page.getUrl()}(page=${item.getNumber() - 1})}" th:text="${item.getNumber()}"></a>
        </li>

        <li th:class="${page.hasNext() ? 'page-item' : 'page-item disabled'}">
            <span class="page-link" th:if="${!page.hasNext()}">&#187;</span>
            <a class="page-link" th:if="${page.hasNext()}" th:href="@{${page.getUrl()}(page=${page.getCurrentPage()})}">&#187;</a>
        </li>

        <li th:class="${page.isLast() ? 'page-item disabled' : 'page-item'}" >
            <span class="page-link" th:if="${page.isLast()}">Last</span>
            <a class="page-link" th:if="${!page.isLast()}" th:href="@{${page.getUrl()}(page=${page.totalPages - 1})}">Last</a>
        </li>

    </ul>
</nav>